<h1>All Hotels</h1>
<%= will_paginate %>
<ul class="hotels">
  <% @hotels.each do |hotel| %>
    <li>
      <%= link_to hotel.name, hotel %>
      |Address-<%= hotel.address %>
    |Price-<%= hotel.price %>
      |Rating-<%= hotel.rating %>

    </li>
  <% end %>
</ul>
<%= will_paginate %>
